<!--    MAIN    -->

<section class="main">
    <div class="welcome">
        <h2 class="welcome-title">Vayounette</h2>
        <p class="welcome-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, rem possimus! Nisi architecto iure ab deserunt cum. Odit doloribus fugit perspiciatis laudantium iste molestias, et praesentium vero, facere quod eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, rem possimus! Nisi architecto iure ab deserunt cum. Odit doloribus fugit perspiciatis laudantium iste molestias, et praesentium vero, facere quod eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, rem possimus! Nisi architecto iure ab deserunt cum. Odit doloribus fugit perspiciatis laudantium iste molestias, et praesentium vero, facere quod eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, rem possimus! Nisi architecto iure ab deserunt cum. Odit doloribus fugit perspiciatis laudantium iste molestias, et praesentium vero, facere quod eius!</p>

        <div class="card-contain">
            <div class="card card1">
                <div class="card-content">
                    <h2 class="card-title">title title title title</h2>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laboriosam cum odit totam facilis </p>
                    <a href="#" class="card-button">Decouvrer</a>
                </div>
            </div>
            <div class="card card2">
                <div class="card-content">
                    <h2 class="card-title">title title title title</h2>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laboriosam cum odit totam facilis </p>
                    <a href="#" class="card-button">Decouvrer</a>
                </div>
            </div>
            <div class="card card3">
                <div class="card-content">
                    <h2 class="card-title">title title title title</h2>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laboriosam cum odit totam facilis </p>
                    <a href="#" class="card-button">Decouvrer</a>
                </div>
            </div>
            <div class="card card4">
                <div class="card-content">
                    <h2 class="card-title">title title title title</h2>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet laboriosam cum odit totam facilis </p>
                    <a href="#" class="card-button">Decouvrer</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client">
    <h2 class="welcome-title">References</h2>
    <div class="carousel-contain-slider">
        <div class="carousel-slide-track">
            <!--    carousel A  -->
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
            <!--    carousel A  -->
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/Logo_Hachette.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/larousse_logo.png') }}" alt="">
            </div>
            <div class="carousel-slide">
                <img src="{{ asset('img/icon/playbac_logo.png') }}" alt="">
            </div>
        </div>
    </div>
</section>

