{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}

{% block body %}
<section class="section-galery">
    <form>
        <select>
        <option>4-6 ans </option>
        <option>4-6 ans </option>
        <option>4-6 ans </option>
        <option>4-6 ans </option>

        </select>
    </form>
   <div class="galery-contain">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome1.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome2.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome3.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome4.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/slide/1.png') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome1.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome4.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/welcome3.jpg') }}" alt="">
        </div>
        <div class="grid-item">
            <img src="{{ asset('img/slide/2.jpg') }}" alt="">
        </div>
      </div>
    </div>
</section>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
    var grid = document.querySelector('.grid');

    var msnry = new Masonry( grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    gutter: 10
    });

    imagesLoaded( grid ).on( 'progress', function() {
     msnry.layout();
    });
</script>
{% endblock %}

