{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <section class="contact-page">
        <div class="contact-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iste provident et, placeat maiores, culpa ex tempore nam molestias, odit sapiente ipsam hic magni? Doloribus aliquid explicabo earum quidem possimus?</p>
        </div>
        <div class="contact-title"><h2>Contact</h2></div>
        <div class="contact-contain">
            {{ form_start(form) }}
            <div class="contact-name form-group">
                <h3>Nom</h3>
                {{ form_widget(form.name) }}
            </div>
            <div class="contact-email form-group">  
                <h3>Email</h3>
                {{ form_widget(form.email) }}
            </div>    
            <div class="contact-sujet form-group">
                <h3>Sujet</h3>
                {{ form_widget(form.sujet) }}
            </div>                    
            <div class="contact-message form-group">
                <h3>Message</h3>
                {{ form_widget(form.text) }}
            </div>

            {{ form_rest(form) }}
            <div class="contact-submit form-group">
                <button type="submit">Soumettre</button>
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

